<!-- templates/add_book.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>新增圖書</title>
</head>
<body>
    <h1>新增圖書</h1>
    <form method="POST">
        <label for="title">標題：</label>
        <input type="text" name="title" id="title" required><br><br>

        <label for="author">作者：</label>
        <input type="text" name="author" id="author" required><br><br>

        <label for="published_date">出版日期：</label>
        <input type="text" name="published_date" id="published_date"><br><br>

        <button type="submit">新增</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}">返回首頁</a>
</body>
</html>
